* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(202, 201, 201);
}
.table {
  max-width: 700px;
  margin-top: 20px;
}
.trow {
  vertical-align: middle;
  text-align: center;
}
.taskbox {
  text-align: left;
}
.checkbox {
  position: absolute;
  right: 20px;
  top: 16px;
  height: 15px;
  width: 15px;
}
.taskbox {
  position: relative;
  width: 400px;
}
.count {
  align-content: center;
}
.task {
  color: rgb(59, 122, 59);
  position: relative;
  top: 8px;
}

.addbtn {
  max-width: 100px;
}
thead {
  text-align: center;
}
.tdb {
  position: relative;
}
.mb-3 {
  max-width: 700px;
  margin-top: 30px;
}
.updateinput {
  max-width: 240px;
}

.okbtn {
  border: 1px solid green;
  max-height: 30px;
  text-align: center;
  border-radius: 5px;
  margin-left: 20px;
}
